# .gitignore - List of filenames git should ignore

# Package directories
/xpi/

# Ignore misc files that need not be in the repo
zip.exe
sed.exe

# CrowdIn API credentials
.crowdin.account
.crowdin.key
