/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * Ulozte kopii tohoto souboru jako userContent.css do slozky chrome 
 * ve slozce s uzivatelskym profilem a upravte podle vasich predstav.
 * 
 * Tento soubor se pouziva k nastaveni uzivatelskych kaskadovych stylu
 * na webovych strankach.
 *
 * Pravidla bez deklarace !important budou prepsana kaskadovymi styly
 * na webove strance, pokud takove jsou.
 * Pravidla s deklaraci !important prevazi nad pravidly na webove strance.
 *
 * Priklad: Odstrante prvkum blink blikani
 * blink { text-decoration: none !important; }
 *
 * Priklad: Nastavte vsem tabulkam cerny spojity ramecek, 2px siroky
 * table { border: 2px black solid !important; }
 *
 * Priklad: Nastavte na strance www.mozilla.org prvkum s id="q"
 *          cerne pismo na bilem pozadi
 * @-moz-document url-prefix(http://www.mozilla.org/) {
 *   #q { background: white !important; color: black !important; }
 * }
 *
 * Vice prikladu naleznete na http://www.mozilla.org/unix/customizing.html
 *
 */
